.idea
.vscode

venv
.venv
.env*
*.pyc
dist/
build/
*.egg-info/

.tox/
.coverage

/lightning_logs
/logs
/data
/archived
/scores
/RIRS_NOISES
/scratch
/scripts/leaderboard.sh

RIRS_NOISES/
rir/
wav/

notebooks/.ipynb_checkpoints
notebooks/playground.ipynb

scores
demo.py
links.txt
archived
wav/
